<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaVista.Properties.Settings.componenteseguridadConnectionString"
            connectionString="server=localhost;user id=root;password=Sebas1234;database=componenteseguridad"
            providerName="MySql.Data.MySqlClient" />
        <add name="CapaVista.Properties.Settings.ConnectionString" connectionString="Dsn=conexionHSC;uid=root;pwd=6182"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>